<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/static/theme.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="{% if full_width_page %}container-fluid{% else %}container{% endif %}">
        <a class="navbar-brand" href="/">CTFZone</a>
        {% block navbar %} {% endblock navbar %}
        {% block user %}
            <div class="nav-right">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-user"></span>
                                <span id="navbar_user_name">{% if user.get_full_name %}
                                    {{ user.get_full_name }} {% else %} {{ user }} {% endif %}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-username"
                                 style="position: absolute; left: auto; right: 0px;">
                                <h6 class="dropdown-header">
                                    {% if user.get_full_name %}{{ user.get_full_name }}{% else %}
                                        {{ user }}{% endif %}</h6>
                                <a class="dropdown-item"
                                   href="/profile">Profile</a>
                                {% if user.is_staff %}
                                    <a class="dropdown-item"
                                       href="/admin">Admin panel</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="/password_change/">Change password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="/logout/">Log out</a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="/login/">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Register</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        {% endblock %}
    </div>
</nav>

<div class="py-4">
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>

</html>
