{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="card mb-2">
        <div class="card-header">About:</div>
        <div class="card-body"> {{ request.site.name }} is a jeopardy style competition that includes challenges in the
            domain of
            Reverse Engineering, Web Exploitation, Clever Scripting, Automation and general "hacks". <br><br>
            There is a flag associated with each level. The flag format is CTF{key_here} To successfully
            complete the level you have to get the flag and submit.
        </div>
    </div>
    <div class="card">
        <div class="card-header">NOTE:</div>
        <div class="card-body">
            <p class="description">Event Timings: 12th Aug 3:30PM UTC to 25th Aug 3:30AM UTC.</p>
            <p class="description">Registrations are now up.</p>
            <p class="description">Join our <a target="_blank" href="https://t.me/">Telegram Group</a>!</p>
        </div>
    </div>
{% endblock content %}
