{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sign up</h4>
                <form action="/register/" method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group row align-items-center">
                            <label class="col-md-6 align-self-center"
                                   for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                            <input class="col-md-5 form-control{% if field.errors %} border-danger{% endif %}"
                                   type="{% if "password" in field.html_name %}password{% elif "email" in field.html_name %}email{% else %}text{% endif %}"
                                   id="{{ field.id_for_label }}"
                                   name="{{ field.html_name }}" {% if field.html_name != "invite" %}
                                   required{% endif %}>
                            {% if field.help_text %}
                                <small class="text-muted" style="padding-left: 15px;">{{ field.help_text|safe }}</small>
                            {% endif %}
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {% for error in field.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class=" form-group row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-dark">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
